@page 
@model ParkNet.Pages.ParkingSessions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSession[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSession[0].ParkingSpot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSession[0].Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSession[0].Saida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSession[0].ValorPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParkingSession)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingSpot.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorPago)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-page="./Exit" asp-route-id="@item.Id">Exit</a>

                </td>
            </tr>
        }
    </tbody>
</table>
